<!DOCTYPE html>
<html>
<head>
<title>Profile : <%= user.name %></title>
<% if(user.role=="admin" && user.adminAsUser==false){ %>
  <%- include('partials/admin/headerFiles',{user:user}) %>
  <%- include('partials/admin/navbar',{user:user}) %>
  <% }else{ %>
  <%- include('partials/user/headerFiles',{user:user}) %>
  <%- include('partials/user/navbar',{user:user}) %>
<%  } %>
<style>
body{
  color: #575757 !important;
}
.content-div{
  margin-top:2%;
  width: 100%;
}
.null-link{
  color: black
}
.null-link:hover{
  color:black;
  text-decoration: none;
}
.panel-main-div:hover{
  box-shadow:0 3px 10px 0 rgba(115,143,147,.2);
}
@media(max-width: 768px){
  .content-div{
    margin-top:5%;
    width: 100% !important;
  }
}
</style>

<div class="content-div">
        <div class="container">
            <div class="card allSidesSoft" style="background:rgb(249, 249, 249)">
              <div class="card-body">

              
                <div class="d-flex pc">
                    <div class="image-container">
                        <% if(user.image==""){%>
                        <img src="/images/noimage.png" id="user-profile-image" style="width: 150px; height: 150px" class="img-thumbnail allSidesSoft">
                        <%}else{%>
                        <img src="/user_images/<%= user._id %>/<%= user.image %>" id="user-profile-image" style="width: 150px; height: 150px" class="img-thumbnail allSidesSoft">
                        <%}%> 
                    </div>
                </div>
              
                <% if(path=='/profile'){%>
                  <div class="form-group">
                      <a href="/editProfile" class="btn btn-primary pull-right" style="margin-right:15px">Edit</a>
                    </div>
  
                <% } %>
              

                <br>
                <br>
            
                <div class="col-sm-6">
                  <div class="panel panel-default allSidesSoft panel-main-div">
                    <div class="panel-heading">Email</div>
                    <div class="panel-body"><%= user.email %></div>
                  </div>
                </div>
            

            
                <div class="col-sm-6">
                  <div class="panel panel-default allSidesSoft panel-main-div">
                    <div class="panel-heading">Gender</div>
                    <div class="panel-body" style="text-transform: capitalize;"><%= user.gender %></div>
                  </div>
                </div>
            

            
                <div class="col-sm-6">
                  <div class="panel panel-default allSidesSoft panel-main-div">
                    <div class="panel-heading">Name</div>
                    <div class="panel-body"><%= user.name %></div>
                  </div>
                </div>
            

            
                <div class="col-sm-6">
                  <div class="panel panel-default allSidesSoft panel-main-div">
                    <div class="panel-heading">City</div>
                    <div class="panel-body"><%= user.city %></div>
                  </div>
                </div>
            

            
                <div class="col-sm-6">
                  <div class="panel panel-default allSidesSoft panel-main-div">
                    <div class="panel-heading">D.O.B</div>
                    <div class="panel-body null-link" id="dobtext"><%= user.dob %></div>
                  </div>
                </div>
            

            
                <div class="col-sm-6">
                  <div class="panel panel-default allSidesSoft panel-main-div">
                    <div class="panel-heading">Phone</div>
                    <div class="panel-body"><%= user.phone %></div>
                  </div>
                </div>
            

            
              
            

            

            

        </div>
      </div>
    </div>
</div>
<br>

</div>
</div>
</div>
</div>
  <br>
<!--footer-->
  
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script src="/js/Common.js"></script>

<script>
var selector = '.nav li';
$(selector).removeClass('active');
$('#edit-profile-nav').addClass('active');
$('#home-nav').addClass('active');
</script>

<script>
var link = window.location.href
var id  = link.substring(link.lastIndexOf('/') + 1);

var userFullName = $('#user-full-name').text();
userFullName = userFullName.replace("Name : ", "");
$("#send-to").html(userFullName);
$('#messagePopBtn').click(function(){

  $('#popUp').modal('toggle');
  $('#popUp').modal('show');

})

function sendTheMessage(){
  if($('#message').val().trim().length!=0)
  {
      var data = {};
      data.user2 = id;
      data.messages = $('#message').val();
      $.ajax({
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          url: '/message/sendbyid',
          success: function (response) {
            $(location).attr('href','/message');
          },
          error: function (response) {
              notie.alert({type: 3, text: 'Something went wrong!', time: 2})
          }
      });
    }
}

$('#MessageSendButton').click(sendTheMessage);

var dateElement = document.getElementById("dobtext");
var date = dateElement.innerHTML;
dateElement.innerHTML=OnlyDateEditProfile(date);

$(document).ready(function(){
        var date_input=$('input[name="dob"]');
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
    </body>
</html>
