<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <title>Welcome : <%= user.name %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/Admin/Profile">
	<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="/css/notie.min.css">
	<link rel="stylesheet" href="/css/all.css">
	<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.fontAwesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/CustomDatatable.css">
	<link rel="stylesheet" href="/css/datatable.css">

	<link rel="stylesheet" href="/css/trumbowyg.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery.min.js.download"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/jquery-confirm.min.css">
	<link rel="stylesheet" href="/css/select2BootstrapTheme.css">
	<link rel="stylesheet" href="/css/select2.min.css">
	<script src="/js/jquery-confirm.min.js.download"></script>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/sidenav.css">
	<link rel="stylesheet" href="/css/CommunityStyle.css">
	<link rel="stylesheet" href="/css/CrazyGraphics.css">
	<script src="/js/validation.js.download"></script>


  <style type="text/css">
  	header{
  		height: 80px;
  		background-color: white;
  		padding: 10px
  	}
  	@media(max-width: 800px){
  		.mobile-responsive{
  			display: none;
  		}
  	}
.avatar-upload {
   position: relative;
   max-width: 205px;
   margin: 50px auto;
 }
 .avatar-upload .avatar-edit {
   position: absolute;
   right: 12px;
   z-index: 1;
   top: 10px;
 }
 .avatar-upload .avatar-edit input {
   display: none;
 }
 .avatar-upload .avatar-edit input + label {
   display: inline-block;
   width: 34px;
   height: 34px;
   margin-bottom: 0;
   border-radius: 100%;
   background: #FFFFFF;
   border: 1px solid transparent;
   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
   cursor: pointer;
   font-weight: normal;
   transition: all 0.2s ease-in-out;
 }
 .avatar-upload .avatar-edit input + label:hover {
   background: #f1f1f1;
   border-color: #d6d6d6;
 }
 .avatar-upload .avatar-edit input + label:after {
   content: "\f040";
   font-family: 'FontAwesome';
   color: #757575;
   position: absolute;
   top: 10px;
   left: 0;
   right: 0;
   text-align: center;
   margin: auto;
 }
 .avatar-upload .avatar-preview {
   width: 192px;
   height: 192px;
   position: relative;
   border-radius: 100%;
   border: 6px solid #F8F8F8;
   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
 }
 .avatar-upload .avatar-preview > div {
   width: 100%;
   height: 100%;
   border-radius: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 }
 hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

</style>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

	
    <nav class="navbar navbar-default-bar no-margin navbar-bar-head-fixed" id="nav-header">
  
        <div class="navbar-header fixed-brand">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                       <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                  </button>
          
            <span class="label label-success mobile" style="margin-top:20px;float:right">Admin</span>
          
           <a class="navbar-brand" href="/Admin/Profile">Oneness</a>
        </div>
  
              <div class="none-mobile-view-dp">
                <% if(user.image==''){ %>
                  <img src="/images/noimage.png" style="height: 40px" class="profilePic">
                <% }else{ %>
                  <img src="/user_images/<%=user._id%>/<%=user.image%>" style="height: 40px" class="profilePic">
                <% } %>
               <span class="label label-success" style="float:right;margin-top:22px;margin-left:5px"><%= user.role %></span>
            
            <span class="label label-warning" style="float:right;margin-top:22px;"><%= user.name %></span>
               </div>
  
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
              <li class="">
                
                   <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-pc">
                                     <span class="glyphicon glyphicon-th-large" aria-hidden="true">
                                     </span>
                   </button>
                 
              </li>
           </ul>
        </div>
  </nav>
  
  <div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" style="margin-top:60px">
     <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
  
       <li class="mobile-view-dp">
         <div style="margin-right: 10px">
               <center>
              <img src="/images/1537445658569.png" style="height: 60px;width: 60px;border-radius:50%">
          </center>
            </div>
       </li>
  
       <li class="onlyForPcNav">
         <a onclick="openSideNav()">
           <span class="fa-stack fa-lg pull-left">
             <i class="fa fa-bars fa-stack-1x "></i>
           </span>Oneness
         </a>
       </li>
  
       
         <li id="home-nav" class="active">
            <a href="/"><span class="fa-stack fa-lg pull-left">
              <i class="fa fa-home fa-stack-1x "></i></span>Home
            </a>
         </li>
       
  
       
  
        
            <li id="add-user-nav">
              <a href="/admin/adduser"><span class="fa-stack fa-lg pull-left">
                <i class="fa fa-plus-square fa-stack-1x "></i></span>
                Add User
              </a>
            </li>
        
  
        
  
        
          <li id="user-list-nav">
             <a href="/admin/userlist"> <span class="fa-stack fa-lg pull-left">
               <i class="fa fa-list-ul fa-stack-1x "></i></span>Users List</a>
          </li>
        
  
        
          <li id="community-list-nav">
             <a href="/community/communityList"><span class="fa-stack fa-lg pull-left">
               <i class="fa fa-list-alt fa-stack-1x "></i></span>Community List</a>
          </li>
        
  
        
          <li id="switch-asuser-nav">
            <a onclick="switchState(&#39;Switch As User&#39;)"><span class="fa-stack fa-lg pull-left">
              <i class="fa fa-toggle-off fa-stack-1x "></i></span>
              Switch As User
            </a>
          </li>
        
  
        
          <li id="admin-tag-panel">
            <a href="/tag"><span class="fa-stack fa-lg pull-left">
              <i class="fa fa-tags fa-stack-1x "></i></span>Tag Panel</a>
          </li>
        
  
        <li id="change-password-nav">
          <a href="/changePassword"><span class="fa-stack fa-lg pull-left">
            <i class="fa fa-lock fa-stack-1x "></i></span>
            Change Password
          </a>
        </li>
  
        <li>
           <a onclick="logout()"><span class="fa-stack fa-lg pull-left">
             <i class="fa fa-sign-out-alt fa-stack-1x "></i></span>Logout
           </a>
        </li>
  
     </ul>
  </div>
  <script type="text/javascript">
     $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
     });
  
     $("#menu-toggle-pc").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled-pc");
        $('#menu ul').hide();
     });
  
  //----------------------On Hoover or onclick menuBar-------------------------------
    function openSideNav(){
        $("#wrapper").toggleClass("toggled-pc");
        $('#menu ul').hide();
    }
     // $("#sidebar-wrapper").hover(function(){
     //   $("#wrapper").toggleClass("toggled-pc");
     //   $('#menu ul').hide();
     // });
  //----------------------On Hoover or onclick menuBar-------------------------------
  
     function initMenu() {
        // $("#wrapper").toggleClass("toggled-pc");
        // $('#menu ul').hide();
  
        $('#menu ul').hide();
        $('#menu ul').children('.current').parent().show();
        $('#menu li a').click(
           function() {
              var checkElement = $(this).next();
              if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                 return false;
              }
              if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                 $('#menu ul:visible').slideUp('normal');
                 checkElement.slideDown('normal');
                 return false;
              }
           }
        );
     }
     $(document).ready(function() {
        initMenu();
     });
  </script>
  
  <div id="page-content-wrapper" style="padding:0;margin-top:60px"> <!--Margin Top is new-->
           <div class="container-fluid page-content-div" style="padding:0">
              <div class="row">
                 <div class="col-lg-12 scoll-possible" style="padding:0">
  
  
  